params {
  config_profile_name        = 'Google Batch profile'
  config_profile_description = 'Google Batch Configuration'
  config_profile_url = 'https://cloud.google.com/batch'

  // Project ID of your Google Cloud project
  project = "${params.project}"

  // the location of the Cloud Batch servers.
  google_location = "europe-west1"

  google_debug = false
  google_preemptible = false
}

google.location = params.google_location
google.project = params.project

google.batch.debug = params.google_debug

// Google bucket work dir, must contain at least one subdirectory,
workDir = params.workdir

google.batch.preemptible = params.google_preemptible

if (google.batch.preemptible) {
  process.errorStrategy = { task.exitStatus==14 ? 'retry' : 'terminate' }
  process.maxRetries = 5
}

// Edit the queue size to avoid allocating to many VM's at once.
executor {
    name = 'google-batch'
}
